.project-image {
    width: 256px;
    padding: 0 10px 10px 0;
}

.project-detail {
    font-weight: bold;
    padding: 0 0.25em 0px 0px;
}

.edit-button {
    direction: rtl;
}

.button-group {
    margin: 0px 0px 10px 0px;
}